*
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!clippy.toml
!.cargo/
!.cargo/**
!src/
!src/**
!crates/
!crates/**
!apps/myelin/Cargo.toml
!apps/myelin/src/
!apps/myelin/src/**
!xtask/
!xtask/**
!tools/
!tools/**
!apps/
!apps/myelin/
!apps/myelin/node-image/
!apps/myelin/node-image/**
crates/bindings/python/.venv/
crates/bindings/python/.venv/**
crates/**/.pytest_cache/
crates/**/.pytest_cache/**
crates/**/__pycache__/
crates/**/__pycache__/**
crates/**/target/
crates/**/target/**
**/.venv
**/.venv/**
